*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    height: 50px;
    display: block;
    margin-top: 10px;
    outline: none;
    width: 400px;
}

#btn{
    height: 50px;
    width: 300px;
    cursor: pointer;
    background-color: skyblue;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px gray;
    margin-top: 20px;
}