*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-right: 10px;
}

.nav-link{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-top: 0px;
    border: 1px solid black;
    background-color: skyblue;
    position: fixed;
    top: 0;
    background-color: rgba(173, 216, 230, 0.658);
    height: 90px;
    width: 100vw;
}


.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    color: blue;
    font-size: 20px;
}

.intro{
    padding-top: 150px;
}

.hello{
    font-size: 45px;
    padding-left: 50px;
}

.word-1{
    font-size: 24px;
    padding-top: 20px;
    padding-left: 50px;
}

.cont{
    position: relative;
    top: 30px;
    left: 50px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.cont:hover{
    background-color: blue;
    color: white;
    font-size: 20px;
}

.nav-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-top: 0px;
    border: 1px solid black;
    background-color: skyblue;
    position: fixed;
    top: 0;
    background-color: rgba(128, 128, 128, 0.658);
    height: 90px;
    width: 100vw;
}

.ul-navs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-right: 10px;
}

.link-s{
    text-decoration: none;
    color: white;
}

.link-s:hover{
    color: crimson;
    font-size: 20px;
}

.guys{
    padding-top: 150px;
    padding-left: 600px;
}

.hey{
    font-size: 45px;
}

.word-2{
    font-size: 24px;
    padding-top: 20px;
}

.get{
    position: relative;
    top: 30px;
    background-color: gray;
    color: white;
    text-decoration: none;
}

.get:hover{
    background-color: crimson;
    color: black;
    font-size: 20px;
}

.abt{
    font-size: 30px;
    padding-top: 150px;
    padding-left: 50px;
    text-align: center;
}

.abt:hover{
    color: blue;
    font-size: 38px;
}

.thing{
    padding-top: 30px;
    font-size: 20px;
    padding-left: 50px;
    /* align-items: center; */
    text-align: center;
}

.box{
    padding-top: 100px;
    /* padding-left: 50px; */
}

.burger{
    width: 250px;
    height: 200px;
}

.box-1{
    padding-left: 120px;
    position: relative;
    bottom: 180px;
}

.none{
    background-color: rgba(127, 255, 212, 0.658);
    width: 300px;
    height: 300px;
    position: relative;
    left: 100px;
    top: 100px;
}

.dish{
    width: 250px;
    height: 200px;
}

.box-2{
    padding-left: 120px;
    position: relative;
    bottom: 80px;
    left: 650px;
    width: 450px;
}

.thing-1{
    font-size: 16px;
    width: 400px;
    padding-top: 15px;
}

.thing-2{
    font-size: 16px;
    padding-top: 15px;
}

.jean{
    width: 250px;
    height: 200px;
}

.lamp{
    width: 250px;
    height: 200px;
}

.plate{
    width: 250px;
    height: 200px;
}

.shirt{
    width: 250px;
    height: 200px;
}

.seri{
    font-size: 35px;
    position: relative;
    top: 20px;
    text-align: center;
}

.alli{
    display: flex;
    margin-left: 50px;
    margin-right: 40px;
    padding-top: 150px;
}

.word-text{
    padding-top: 20px;
    font-size: 17px;
}

.lamps{
    padding-top: 80px;
}

.plates{
    padding-top: 80px;
    padding-left: 30px;
}

.services-1{
    background-color: rgba(220, 20, 60, 0.658);
    height: 350px;
    position: relative;
    top: 280px;
}

.pro{
    position: relative;
    top: 650px;
    font-size: 35px;
    text-align: center;
}

.jet{
    position: relative;
    top: 700px;
    font-size: 20px;
    text-align: center;
}

.work-1{
    position: relative;
    font-size: 35px;
    text-align: center;
}

.work-2{
    position: relative;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.img-box{
    width: 450px;
    height: 250px;
    position: relative;
    left: 50px;
}

.feature-content h6{
    font-size: 30px;
}

.feature-box{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 250px;
    gap: 40px;
    margin-top: 40px;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.feature-content{
    padding-left: 50px;
    padding-top: 30px;
}

.porti{
    position: relative;
    right: 480px;
}

.ill{
    position: relative;
    top: 10px;
    width: 400px;
}

.content-p-1{
    font-size: 20px;
    padding-top: 30px;
    color: gray;
}

.span-1{
    padding: 2px 7px;
    background-color: navy;
    color: white;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 700;
}

.content-p-2{
    font-size: 20px;
    padding-top: 30px;
    color: gray;
}

.content-p-3{
    font-size: 20px;
    position: relative;
    top: 30px;
    right: 480px;
    color: gray;
}

.ill{
    position: relative;
    top: 40px;
}

.content-p-4{
    font-size: 20px;
    position: relative;
    top: 70px;
    left: 0px;
    color: gray;
}

.view-all{
    position: relative;
    top: 30px;
    text-decoration: none;
    font-size: 17px;
    width: 80px;
    border-radius: 10px;
}

.view-all-1{
    position: relative;
    top: 60px;
    right: 480px;
    text-decoration: none;
    font-size: 17px;
    width: 80px;
    border-radius: 10px;
}

.view-all-2{
    position: relative;
    top: 100px;
    text-decoration: none;
    font-size: 17px;
    width: 80px;
    border-radius: 10px;
}

.work{
    padding-top: 800px;
}

.gert{
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
}

.form{
    text-align: center;
    padding-top: 50px;
}

.Name{
    font-size: 25px;
}

#name{
    width: 400px;
    height: 30px;
    position: relative;
    top: 20px;
}

.Email{
    font-size: 25px;
    position: relative;
    top: 30px;
}

#email{
    width: 400px;
    height: 30px;
    position: relative;
    top: 40px;
}

.Phone{
    font-size: 25px;
    position: relative;
    top: 50px;
}

#num{
    width: 400px;
    height: 30px;
    position: relative;
    top: 60px;
}

.awesome-2{
    padding-top: 150px;
    padding-left: 650px;
    display: flex;
    justify-content: space-evenly;
    width: 300px;
}

.bodi{
    background-color: rgba(128, 128, 128, 0.788);
}